$base-font-size: 16px;
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import "compass/css3";
@import "bootstrap";

a{
  &:link,
  &:visited,
  &:hover,
  &:active{
    color: inherit;
    text-decoration: none;
  }
}
body{
  font-size: $base-font-size;
  font-family: 'Quicksand', sans-serif;
}
.container-fluid{
  width: 100%;
  max-width: 1024px;
}
@mixin padding_main_content {
  padding:$base-font-size * 2 0;
}
header{
  background-color: #333;
  padding-top: $base-font-size;
}
main{
  @include padding_main_content;
}
footer{

  color: #fff;
  background-color: #666;
  @include padding_main_content;
}
.menu{
  padding: $base-font-size 0 0 0;
}
.carousel-inner{
  img{
    width: 100%;
  }
}
.nav-item{
  color: #fff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav-link{
  .nav-pills &{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  padding: $base-font-size / 2 $base-font-size;
  .nav-pills &.active{
    background-color: #fff;
    color: #333;
  }
  &:hover{
    background-color: #A5DD3B;
    color: #fff;
  }

}

.carousel-indicators{
  bottom:0;
  .active{
    background-color: #A5DD3B;
  }
}
#carousel-example-generic{
  margin-bottom: $base-font-size;
}
