$base-font-size: 14px;
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{
  font-size: $base-font-size;
  font-family: 'Quicksand', sans-serif;
}
.container-fluid{
  width: 100%;
  max-width: 1024px;
}
header{
  background-color: #333;
  padding-top: $base-font-size;
}
.menu{
  padding-top: $base-font-size;;
}
.carousel-inner{
  img{
    width: 100%;
  }
}
.nav-pills>li>a{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: $base-font-size / 2 $base-font-size;
  color: #fff;
  &:hover{
    background-color: #fff;
    color: #333;
  }
}
.services{
  li {
      display: block;
  &:before {
      content: "\e013";
      font-family: 'Glyphicons Halflings';
      font-size: $base-font-size;
      float: left;
      margin-top: 0px;
      margin-left: -40px;
      color: #333;
  }
  }
}
.carousel-indicators{
  bottom:0;
  margin-bottom: 0;
  li{
    margin: 0;
    width: $base-font-size;
    height: $base-font-size;
  }
  .active{
    background-color: #A5DD3B;
    border-color: #A5DD3B;
    width: $base-font-size;
    height: $base-font-size;
  }
}
