@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
/* line 4, ../sass/screen.scss */
body {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

/* line 8, ../sass/screen.scss */
.container-fluid {
  width: 100%;
  max-width: 1024px;
}

/* line 12, ../sass/screen.scss */
header {
  background-color: #333;
  padding-top: 14px;
}

/* line 16, ../sass/screen.scss */
.menu {
  padding-top: 14px;
}

/* line 20, ../sass/screen.scss */
.carousel-inner img {
  width: 100%;
}

/* line 24, ../sass/screen.scss */
.nav-pills > li > a {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 7px 14px;
  color: #fff;
}
/* line 29, ../sass/screen.scss */
.nav-pills > li > a:hover {
  background-color: #fff;
  color: #333;
}

/* line 35, ../sass/screen.scss */
.services li {
  display: block;
}
/* line 37, ../sass/screen.scss */
.services li:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 14px;
  float: left;
  margin-top: 0px;
  margin-left: -40px;
  color: #333;
}
